# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Environment
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Dependencies
/node_modules
/vendor

# Laravel
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*

# Testing
.phpunit.result.cache
phpunit.xml

# OS
.DS_Store
Thumbs.db
